.venv/
venv/
env/
ENV/
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.log
*.sqlite3
main.py
example.json
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.cache/
.pylint.d/
.ipynb_checkpoints/
node_modules/
/.env
/.env.*
test.py
*.pyc
.idea/
